{% extends "base.html" %}

{% block title %}
Photoblog™ — My articles
{% endblock %}

{% block header %}
My articles
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Article</th>
                        <th>Slug</th>
                        <th>Published</th>
                    </tr>
                </thead>
                {% for article in user.articles.all %}
                    <tr>
                        <td><a href="{% url management:article article.id %}">{{ article.name }}</a></td>
                        <td>{{ article.slug }}</td>
                        <td>{% if article.is_published %}✔{% else %}✘{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}