{% extends "base.html" %}
{% load i18n %}

{% block title %}
Photoblog™ — {% trans "My articles" %}
{% endblock %}

{% block header %}
    {% trans "My articles" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            {% if user.articles.all %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% trans "Article" %}</th>
                            <th>{% trans "Name in URL" %}</th>
                            <th>{% trans "Published" %}</th>
                        </tr>
                    </thead>
                    {% for article in user.articles.all %}
                        <tr>
                            <td><a href="{% url management:article article.id %}">{{ article.name }}</a></td>
                            <td>{{ article.slug }}</td>
                            <td>{% if article.is_published %}✔{% else %}✘{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="alert alert-info">
                    {% trans "You have no articles." %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}