<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Photoblog™{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html, charset=utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
<body>

{% include "blocks/navigation.html" %}

<div class="container">
    <div class="page-header">
        <h1>{% block header %}{% endblock %}</h1>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="span12">
                    <div class="alert {{ message.tags }}">
                        <a class="close" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</div>

</body>
</html>
