{% extends "base.html" %}

{% block title %}
    Photoblog™ —
    {% if article_id %}
        article “{{ article.name }}”
    {% else %}
        New article
    {% endif %}
{% endblock %}

{% block header %}
    {% if article_id %}
        Article “{{ article.name }}”
        <small>{{ article.slug }}</small>
    {% else %}
        New article
    {% endif %}
{% endblock %}

{% block custom_scripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/frontend.css" type="text/css" />

    <script type="text/javascript">
        $(document).ready(initArticleEditor);
    </script>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a id="tab-edit" href="#">Edit</a>
        </li>
        <li><a id="tab-preview" href="#">Preview</a></li>
    </ul>
    <div class="row" id="panel-edit">
        <div class="span10">
            <form method="POST" action="{% if article_id %}{% url management:save_article article_id %}{% else %}{% url management:save_article %}{% endif %}" class="form-big">
                {% csrf_token %}
                {{ article_form.as_bootstrap }}
                <input class="btn btn-primary" type="submit" value="Save article" />&nbsp;
                {% if article.id %}
                    <input class="btn btn-danger" type="submit" name="delete" value="Delete"
                           onclick="return confirm('Are you sure? This operation cannot be undone.');"/>
                {% endif %}
            </form>
        </div>
        <div class="span2">
            <div class="row">
                <div class="dropdown" id="photoalbum-select">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="dropdown-caption">Photoalbums</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for album in user.albums.all %}
                            <li><a href="#" id="{% url management:preview_photoalbum album.id %}">{{ album.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div><br/>
            </div>
            <div class="row">
                <ul class="thumbnails vertical-thumbnails" id="photoalbum-preview">
                </ul>
            </div>
        </div>
    </div>
    <div id="panel-preview" class="frontend-article">
    </div>
{% endblock %}