{% extends "base.html" %}
{% load i18n %}

{% block header %}
    {% trans "Photoblog administration" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span5">
            <h2>{% trans "Photoalbums" %}</h2>
            {% if not user.profile.is_valid_token %}
                {% include "blocks/oauth-required.html" %}
            {% else %}
                {% if not user.albums.all %}
                    <div class="alert alert-info">
                        {% trans "You don't have any albums imported from Picasa yet." %}
                    </div>
                {% endif %}
            {% endif %}
            {% if user.albums.all %}
                <ul>
                    {% for photoalbum in user.albums.all %}
                        <li><a href="{% url management:photoalbum photoalbum.id %}">{{ photoalbum.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="span5 offset2">
            <h2>{% trans "Articles" %}</h2>
            {% if user.articles.all %}
                <ul>
                    {% for article in user.articles.all %}
                        <li><a href="{% url management:article article.id %}">{{ article.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-info">
                    {% trans "You don't have any articles yet." %}
                    {% if not user.albums.all %}
                        {% trans "To create one you need to import at least one photoalbum from Picasa." %}
                    {% endif %}
                </div>
            {% endif %}
            {% if user.albums.all %}
                <a href="{% url management:new_article %}" class="btn btn-inverse">{% trans "Create an article" %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}