{% extends "base.html" %}

{% block header %}
Photoblog administration
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span5">
            <h2>Photoalbums</h2>
            {% if not user.profile.is_valid_token %}
                {% include "blocks/oauth-required.html" %}
            {% else %}
                <div class="alert alert-success">
                    Your photoalbums have been scheduled to be imported shortly.
                </div>
            {% endif %}
            {% if user.albums.all %}
                <ul>
                    {% for photoalbum in user.albums.all %}
                        <li><a href="{% url management:photoalbum photoalbum.id %}">{{ photoalbum.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="span5 offset2">
            <h2>Articles</h2>
            {% if not articles %}
                <div class="alert alert-info">
                    You don't have any articles yet.
                    {% if not photoalbums %}
                        To create one you need to import at least one photoalbum from Picasa.
                    {% endif %}
                </div>
            {% endif %}
            {% if photoalbums %}
                <a class="btn btn-inverse">Create an article</a>
            {% endif %}
        </div>
    </div>
            <!--p class="help">
                You can revoke the token at <a href="{{ google_token_management_url }}" target="_blank">Google account admin</a>.
                It will become inactive here on the next unsuccessful authorization attempt.
            </p-->
{% endblock %}