{% extends "base.html" %}
{% load i18n %}
{% load template_extra %}

{% block title %}
Photoblog™ — {% blocktrans with name=photoalbum.name %}photoalbum “{{ name }}”{% endblocktrans %}
{% endblock %}

{% block header %}
{% blocktrans with name=photoalbum.name %}Photoalbum “{{ name }}”{% endblocktrans %}
<small>
    {% blocktrans count length=photoalbum.photos.all|length %}{{ length }} photo{% plural %}{{ length }} photos{% endblocktrans %}
</small>
{% endblock %}

{% block content %}
    <table class="thumbnails photoalbum">
        {% for photos_group in photoalbum.photos.all|group:6 %}
            <tr>
                {% for photo in photos_group %}
                    <td>
                        <a href="{{ photo.page_url }}" target="_blank">
                            <img src="{{ photo.thumbnail_url }}" alt="{{ photo.picasa_id }}">
                        </a>
                        {% if photo.description %}
                            <p>{{ photo.description }}</p>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}