<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url management:index %}">
                Photoblog™
            </a>
            <ul class="nav">
                <li class="dropdown {% if page_type == "photoalbum" %}active{% endif %}">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        Photoalbums
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.albums.all %}
                            <li><a href="{% url management:photoalbums %}">
                                <i class="icon-list-alt"></i>
                                All photoalbums
                            </a></li>
                            <li class="divider"></li>
                            {% for photoalbum in user.albums.all %}
                                <li><a href="{% url management:photoalbum photoalbum.id %}">
                                    <i class="icon-camera"></i>
                                    {{ photoalbum.name }}
                                </a></li>
                            {% endfor %}
                            <li class="divider"></li>
                        {% endif %}
                        <li><a href="{% url management:update_albums %}">
                            <i class="icon-refresh"></i>
                            Fetch albums
                        </a></li>
                    </ul>
                </li>
                {% if user.articles.all or user.albums.all %}
                    <li class="dropdown {% if page_type == "article" %}active{% endif %}">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            Articles
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.articles.all %}
                                <li><a href="{% url management:articles %}">
                                    <i class="icon-list-alt"></i>
                                    All articles
                                </a></li>
                                <li class="divider"></li>
                                {% for article in user.articles.all %}
                                    <li><a href="{% url management:article article.id %}">
                                        <i class="icon-file"></i>
                                        {{ article.name }}
                                    </a></li>
                                {% endfor %}
                            {% endif %}
                            {% if user.albums.all %}
                                {% if user.articles.all %}
                                    <li class="divider"></li>
                                {% endif %}
                                <li><a href="{% url management:new_article %}">
                                    <i class="icon-pencil"></i>
                                    New article
                                </a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <li {% if page_type == "settings" %}class="active"{% endif %}><a href="{% url management:settings %}">Settings</a></li>
            </ul>

            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        {{ user.username }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ user.profile.get_blog_url }}" target="_blank">
                                <i class="icon-camera"></i>
                                Photoblog
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url management:logout %}">
                                <i class="icon-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
