{% extends "frontend_base.html" %}

{% block title %}wat{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            {% regroup articles by event_end.year as article_list %}
            {% for year in article_list %}
                <h6>{{ year.grouper }}</h6>
                <ul>
                    {% for article in year.list %}
                        <li><a href="{% url frontend:article user.username article.slug %}">{{ article.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>

{% endblock %}