{% extends "frontend_base.html" %}

{% load blog_url %}

{% block title %}{{ user.profile.public_name }}{% endblock %}

{% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS feed" href="{% blog_rss_url user %}" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            {% regroup articles by event_end.year as article_list %}
            {% for year in article_list %}
                <h6>{{ year.grouper }}</h6>
                <ul>
                    {% for article in year.list %}
                        <li><a href="{% article_url user article %}">{{ article.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>

{% endblock %}