{% load blog_url %}

<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html, charset=utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/frontend.css" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/frontend.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    {% block rss %}{% endblock %}
<body>

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">
                {{ user.profile.public_name }}
            </a>
            {% if article %}
                <ul class="nav">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            Articles
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% regroup articles by event_end.year as article_list %}
                            {% for year in article_list %}
                                <li class="nav-header">{{ year.grouper }}</li>
                                {% for a in year.list %}
                                    <li {% if a.id == article.id %}class="active"{% endif %}><a href="{{ article.get_absolute_url }}">
                                        <i class="icon-file"></i>
                                        {{ article.name }}
                                    </a></li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>


<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>