<!doctype html>
<html lang="en">
<head>
    <title>Photoblog™</title>
    <meta name="google-site-verification" content="pP-uH-SbTlmAr1lGwg4-KQVZ9tzpSPui2gvaZZpzRMQ" />
    <meta http-equiv="Content-type" content="text/html, charset=utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" />
<body>

<div class="container">
    <div class="hero-unit">
        <h1>Welcome to Photoblog™</h1>
        <p>The revolutionary photoblog engine</p>
    </div>
</div>

</body>
</html>